<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CourseP!cking</title>
</head>
<!-- the template rendered after logging in -->
<template name="afterFirstLoginPage">
    {{>baseNavbar}}
    <div class="jumbotron">
        <div class="container baseContent1">
            {{>afterFirstLoginContent}}
        </div>
    </div>
</template>
<!-- courses listed for the user's major-->
<template name="listOfCourses">
    <div class="panel panel-default">
        <!-- List group -->
        <ul class="list-group">
            {{#each courses}}
            <li class="list-group-item">
                <div class="row listOfCourses">
                    <div class="col-xs-8">
                         <p><span class="review_course">{{course}}</span> by <span class="review_professor">{{professor}}</span></p>
                    </div>
                    <div class="col-xs-1">
                        <span class="badge">{{countPost}}</span>
                    </div>
                    <div class="col-xs-3">
                        <button type="submit" class="btn btn-success contribute">contribute</button>
                        <button type="submit" class="btn btn-success view">view</button>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>

</template>
<!-- template for a course-->

<!-- template for after login content-->
<template name="afterFirstLoginContent">
    <h4>I know you are a {{major}} major, would you like to do other Carls a favor and review those courses you have taken?</h4>
    <p>The number listed below is the number of students who have commented on a course. Help out if you see a course that hasn't been reviewed yet!</p>
    {{>listOfCourses}}
</template>
<!-- template for base navbar after login-->
<template name="baseNavbar">
    <nav class="navbar navbar-default " role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="brand" href="/">CourseP!cking</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{pathFor 'dashboard'}}">Dashboard</a>
                    </li>
                    <li><a href="{{pathFor 'latestquestions'}}">Latest questions</a>
                    </li>
                    <li><a href="{{pathFor 'books'}}">Books</a>
                    </li>
                    
                </ul>
                <form class="navbar-form navbar-right" role="form">
                    <div class="form-group">
                        {{> inputAutocomplete settings=settings placeholder="course..." class="input-xlarge form-control" placeholder="course..."}}
                        
                    </div>

                    <a href="{{pathFor 'search'}}" class="btn btn-success">Search course</a> 
                    {{>logout}}
                </form>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>
</template>