<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CourseP!cking</title>
</head>

<body>

</body>
<!-- template for rendering the autocompleting result-->
<template name="render">
    {{course}}
</template>
<!-- template for findBooks section-->
<template name="findBooks">
    <h4>Find books here!</h4>
    <form role="form">
        <label for="booksQ1">Course</label>
        {{> inputAutocomplete settings=settings id="booksQ1" class="input-xlarge form-control" placeholder="course..."}}
        <p>We will send an email to the person who is selling the book and keep you in touch.</p>

        <button type="submit" class="btn btn-success">Search</button>

    </form>
</template>
<!-- template for sellBooks section-->
<template name="sellBooks">
    <h4>Sell books here!</h4>
    <form role="form">
        <label for="booksQ2">Course</label>
        {{> inputAutocomplete settings=settings id="booksQ2" class="input-xlarge form-control" placeholder="course..."}}
        <div class="form-group">
            <label for="booksQ4">name of the book</label>
            <input type="text" class="form-control" id="booksQ4" />

        </div>

        <div class="form-group">
            <label for="booksQ5">condition</label>
            <input type="text" class="form-control" id="booksQ5" />

        </div>
        <div class="form-group">
            <label for="booksQ6">desired price</label>
            <input type="text" class="form-control" id="booksQ6" />

        </div>

        <p>If someone is interested in your book, we will send you an email</p>

        <button type="submit" class="btn btn-success">Sell</button>

    </form>
</template>
<template name="booksPage">
    {{>baseNavbar}}

    <div class="container">
        <div class="jumbotron">
            <div class="container baseContent1 ">
                <div class="row">
                    <div class="col-xs-5">
                        {{>findBooks}}
                    </div>
                    <div class="col-xs-2 or">
                        <p class="or">OR</p>
                    </div>
                    <div class="col-xs-5">
                        {{>sellBooks}}
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>

</template>

