<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CourseP!cking</title>
</head>

<body>

</body>

<template name="latestQuestionsPage">
    {{>baseNavbar}}

    <div class="jumbotron">
        <div class="container baseContent1">
            {{>ask}}

        </div>
    </div>

</template>

<template name="ask">
    <h4>Have questions to ask?</h4>
    <form role="form">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <input type="text" class="form-control" id="latestQ5" placeholder="Ask question here." />

                </div>
            </div>
            <div class="col-xs-2">
                <button type="submit" class="btn btn-success " id="askInLatest">Ask</button>
            </div>

        </div>

    </form>
    <br>
    <div class="container">
        <p>Or join the discussions below!</p>
    </div>
    <ul class="list-group">
        {{#each latestQuestions}} 
            <li class="list-group-item">
                {{question}}
            </li>
        {{/each}}
    </ul>
    
    
</template>


