<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CourseP!cking</title>
</head>

<body>
    
</body>

<template name="reviewPostPage">
    {{>baseNavbar}}

    <div class="container">
        <div class="jumbotron">
            <div class="container baseContent1 ">
                {{>reviewPostContent}}
            </div>
        </div>
    </div>

</template>

<template name="reviewPostContent">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <h4>This is the review for {{review_course}} by {{review_professor}}</h4>
            <form role="form">
                        <div class="form-group">
                            <label for="reviewQ1">What do like most about the professor? </label>
                            <textarea class="form-control" id="reviewQ1" >
                            </textarea>
                        </div>
                        
                        <div class="form-group">
                            <label for="reviewQ2">In what aspect do you think the professor can improve himself/herself?</label>
                            <textarea class="form-control" id="reviewQ2" >
                            </textarea>
                        </div>
                        
                        <div class="form-group">
                            <label for="reviewQ3">Do you think the actual course content the same as what it states from course descritption? If not, how?</label>
                            <textarea class="form-control" id="reviewQ3" >
                            </textarea>
                        </div>
                    
                        <div class="form-group">
                            <label for="reviewQ4">What do you dislike most about the course(if any)?</label>
                            <textarea class="form-control" id="reviewQ4" >
                            </textarea>
                        </div>
                
                        <div class="form-group">
                            <label for="reviewQ5">Tell us anything you'd like to say about the professor and course.</label>
                            <textarea class="form-control" id="reviewQ5" >
                            </textarea>
                        </div>
                       
                        
                        
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
        </div>
        <div class="col-xs-2"></div>
    </div>     
</template>