<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CourseP!cking</title>
</head>

<body>

</body>

<template name="searchPage">
    {{>baseNavbar}}
    <div class="jumbotron">
        <div class="container baseContent1">
            <div class="row">
                <div class="col-xs-4">
                    {{>recommendCourses}}
                </div>
                <div class="col-xs-8">
                    {{>searchContent}}
                </div>

            </div>

        </div>
    </div>
</template>

<template name="recommendCourses">
    <h4>Other courses in Computer Science department:</h4>
    <div class="panel panel-default">


        <!-- List group -->
        <ul class="list-group">
            {{#each recommendCourses}}
            <li class="list-group-item">
               
                    {{>course_only_name}}
        
             </li>
            {{/each}}
        </ul>
    </div>

</template>

<template name="course_only_name">
    <a href="#">{{course}}</a>
    
</template>

<template name="recommendProfessors">
    <h4>Courses this professor also teaches:</h4>
    <div class="panel panel-default">


        <!-- List group -->
        <ul class="list-group">
            {{#each recommendCourses}}
            <li class="list-group-item">
               
                    {{>course_only_name}}
        
             </li>
            {{/each}}
        </ul>
    </div>



</template>

<template name="searchCourse">
    <div class="panel panel-default">
        <ul class="list-group">
            {{#each selectedCourses}}
            <li class="list-group-item">
            <div class="row listOfCourses">
                <div class="col-xs-1"></div>
                <div class="col-xs-5">
                    {{>course}}
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-success ">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>

                    <button type="submit" class="btn btn-success">view</button>

                </div>

            </div>
            </li>
            {{/each}}
        </ul>


    </div>

</template>



<template name="searchContent">
    <h4>Hi, this is the course/professor you are searching for. You can add these courses to your wishlist.</h4>
    {{>searchCourse}}

</template>


